<header>
    <img src="https://i.gifer.com/6kg.gif" alt="Cat on a hamburger." height="300" width="300">
    <h1>Welcome to Burger App!</h1>
    <input>
    <button>Submit</button>
    <p>Enter a burger you want to eat. Click the "Submit" button.</p>
</header>
<main>
    <ol></ol>
    <ul></ul>
</main>