<header>
    <img src="https://www.artbrands.com/wp-content/uploads/21661D2.png" alt="cat in space riding a burger">

    <h1>A long time ago, in a galaxy far, far away, there was a burger.</h1>
    <input>
    <button>Submit</button>
    <p>Enter a burger you want to eat, then click the "Submit" button.</p>
</header>
<main>
    <ol></ol>
    <ul></ul>
</main>