<header>
    <img src="https://c.tenor.com/OtltxmQRCh4AAAAj/burger-burger-time.gif" alt="a jumping burger that looks like a cat">

    <h1>A long time ago, in a galaxy far, far away, there was a burger.</h1>
    <input>
    <button>Submit</button>
    <p>Enter a burger you want to eat, then click the "Submit" button.</p>
</header>
<main>
    <ol></ol>
    <ul></ul>
</main>