<link rel="stylesheet" href="assets/css/burger_style.css">
<img src="https://image.freepik.com/free-vector/cute-cat-burger-icon-illustration-animal-food-icon-concept-isolated-flat-cartoon-style_138676-1253.jpg"
    alt="Cat on a hamburger." height="300" width="300">
<h1>Welcome to Burger App!</h1>
<ol></ol>
<ul></ul>
<input>
<button>Submit</button>
<p>Enter a burger you want to eat. Click the "Submit" button.</p>